@charset 'UTF-8';
@import 'compass/css3';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/functions';
@import 'utilities/placeholders';

.lt-ie10 {}

.lt-ie9 {}

.lt-ie8 {}

.lt-ie7 {
  .chromeframe {
    background-color: #ccc;
    color: #000;
    margin: 0;
    padding: .3em 0;
    text-align: center;
  }
}

.ie9 {}

.ie8 {}

.ie7 {}

.ie6 {}

.ie {}

.ie9,
.ie8,
.ie7,
.ie6 {
  //List of selectors here. Uncomment the lines from 7 to 9 order to use PIE
  //.css3-pie,
  //.css3-pie-gradient {
  //  @extend %pie !optional;
  //}
}

// Example
//.css3-pie,
//.css3-pie-gradient {
//  width: 200px;
//  height: 200px;
//  margin: 10px auto;
//  background-color: #f2f2f2;
//}
//
//.css3-pie {
//  @include border-radius(5px);
//  @include box-shadow(2px 2px 5px #000);
//}
//
//.css3-pie-gradient {
//  background: #f2f2f2;
//  background: linear-gradient(-90deg, #ccc, #c2e8fa);
//  @include pie-background(linear-gradient(-90deg, #ccc, #c2e8fa));
//}
