@charset 'UTF-8';
@import 'compass/css3';

@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/functions';

// FORMSTYLER CSS
//@import 'vendors/formstyler/formstyler-select';
//@import 'vendors/formstyler/formstyler-select-multiple';
//@import 'vendors/formstyler/formstyler-checkbox';
//@import 'vendors/formstyler/formstyler-radio';
//@import 'vendors/formstyler/formstyler-file';
//@import 'vendors/formstyler/formstyler-number';

//@import 'base/reset';
@import 'base/normalize';
//@import 'base/normalize-v4'; // [Optional]
@import 'base/core';
@import 'base/typography';

@import 'utilities/placeholders';

@import 'layout/forms';
//@import 'layout/grid'; // [Optional]
//@import 'module/buttons';
//@import 'module/tabs';
//@import 'module/accordion';
//@import 'module/breadcrumbs';
//@import 'module/preloader'; // [Optional]
//@import 'module/sprites';

//@import 'layout/header';
//@import 'layout/nav';
//@import 'layout/main';
//@import 'layout/sidebar';
//@import 'layout/footer';

//@import 'page/home';
//@import 'page/category';
//@import 'page/product';
//@import 'page/cart';
//@import 'page/checkout';
//@import 'page/contact';

//@import 'module/modernizr';

@import 'state/state';
//@import 'state/print'; // [Optional]

//@import 'theme/theme'; // [Optional]
//@import 'theme/admin'; // [Optional]

//@import 'utilities/debug'; // [Optional]
