/* ====================  FORMS  ==================== */
form {
  max-width: 100%;
  margin-bottom: 10px;
  position: relative;
}

fieldset {}

legend {}

label {}

select,
textarea,
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='file'],
input[type='email'],
input[type='search'],
input[type='number'],
input[type='password'] {
  //width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 10px;

  &:hover {}

  &:focus {}
}

input,
textarea {
  @include input-placeholder {
    color: #afafaf;
    text-overflow: ellipsis;
  }

  &:focus {
    @include input-placeholder {
      color: transparent;
      @include opacity(0);
    }
  }

  &.invalid,
  &:required:invalid {}

  &.valid,
  &:required:valid {}
}

input[type='submit'],
button[type='submit'] {

  &:hover {}

  &:focus {}
}

input[type='reset'],
input[type='button'],
button[type='reset'],
button[type='button'] {

  &:hover {}

  &:focus {}
}

input[type='file'] {}

textarea {
  min-height: 100px;
  resize: vertical;
}

input,
select,
textarea {
  &.error {}
}

select {}

optgroup {}

option {}

/* ====================  END FORMS  ==================== */
