/* ================================================ */
/* ====================  MAIN  ==================== */
/* ================================================ */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $base-margin;
}

/* ==================================================== */
/* ====================  END MAIN  ==================== */
/* ==================================================== */
