// VARIABLES
$basic-font-family: 'Arial', sans-serif !default;
$basic-font-size: 14 !default;
$basic-photoshop-line-height: 20 !default;

$basic-link-color: #000 !default;
$basic-link-color-hover: #555 !default;

$font-size-h1: 36px !default;
$font-size-h2: 30px !default;
$font-size-h3: 24px !default;
$font-size-h4: 18px !default;
$font-size-h5: 14px !default;
$font-size-h6: 12px !default;

$img-rounded-radius: 6px !default;
