// VARIABLES
$default-support-pie: false !default;
//$pie-absolute-path: 'http://site_url/css/pie.htc' !default;
$pie-absolute-path: 'http://test.loc/clean-html-template-8in1/css/pie.htc' !default;

$default-support-opacity-old-browsers: false !default;
$default-border-radius: 5px !default;

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;

$em-base: 16px !default;

$default-font-family: 'Arial', sans-serif !default;
$default-font-size: 14 !default;
$default-photoshop-line-height: 20 !default;
$default-line-height: ($default-photoshop-line-height / $default-font-size) !default;

$default-img-margin-bottom: 10px !default;
$default-img-margin-left: 10px !default;
$default-img-margin-right: $default-img-margin-left !default;

$default-font-size-h1: 36px !default;
$default-font-size-h2: 30px !default;
$default-font-size-h3: 24px !default;
$default-font-size-h4: 18px !default;
$default-font-size-h5: 14px !default;
$default-font-size-h6: 12px !default;
