// VARIABLES
$default-support-pie: false !default;
//$pie-absolute-path: 'http://site_url/css/pie.htc' !default;
$pie-absolute-path: 'http://test.loc/clean-html-template-8in1/css/pie.htc' !default;

$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;

$body-bg: #fff !default;
$body-color: #000 !default;

$em-base: 16px !default;

$font-family-sans-serif: 'Arial', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$base-unit: 'px' !default;
$base-font-family: $font-family-sans-serif !default;
$base-font-size: 14px !default;
$base-photoshop-line-height: 20 !default;
$base-line-height: ($base-photoshop-line-height / ($base-font-size / 1px)) !default;

$font-size-h1: floor(($base-font-size * 2.6)) !default;
$font-size-h2: floor(($base-font-size * 2.15)) !default;
$font-size-h3: ceil(($base-font-size * 1.7)) !default;
$font-size-h4: ceil(($base-font-size * 1.25)) !default;
$font-size-h5: $base-font-size !default;
$font-size-h6: ceil(($base-font-size * .85)) !default;

$headings-margin-bottom: 10px !default;
$headings-font-family: inherit !default;
$headings-font-weight: bold !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$link-color: inherit !default;
$link-decoration: underline !default;
$link-hover-color: inherit !default;
$link-hover-decoration: none !default;

$base-margin: 10px !default;

$base-border-radius: 4px !default;
