$default-old-browser: false;

@mixin opacity($opacity) {
  @if ($default-old-browser) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=#{round($opacity * 100)})";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{round($opacity * 100)});
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
  }
  filter: alpha(opacity=#{round($opacity * 100)});
  opacity: $opacity;
}
