link(href='img/favicon/apple-touch-icon.png', rel='apple-touch-icon')
link(href='img/favicon/favicon-16x16.png', rel='icon', type='image/png', sizes='16x16')
link(href='img/favicon/favicon-32x32.png', rel='icon', type='image/png', sizes='32x32')
link(href='img/favicon/site.webmanifest', rel='manifest')
//- does not pass the validation
link(href='img/favicon/safari-pinned-tab.svg', rel='mask-icon', color='#ff6347')
meta(name='mobile-web-app-capable', content='yes')
meta(name='application-name', content='My app')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='apple-mobile-web-app-title', content='My app')
meta(name='msapplication-config', content='img/favicon/browserconfig.xml')
meta(name='theme-color', content='#ffffff')
