// FONT PLACEHOLDER
%fs-italic {font-style: italic;}
%fs-oblique {font-style: oblique;}
%fv-normal {font-variant: normal;}
%fv-small-caps {font-variant: small-caps;}
%fw-normal {font-weight: normal;}
%fw-bold {font-weight: bold;}
%fw-lighter {font-weight: lighter;}
%fw-bolder {font-weight: bolder;}
