// IMAGE PLACEHOLDER
%img-left {
  float: left;
  margin: 0 $default-img-margin-right $default-img-margin-bottom 0;
}

%img-center {
  display: block;
  margin: 0 auto $default-img-margin-bottom;
}

%img-right {
  float: right;
  margin: 0 0 $default-img-margin-bottom $default-img-margin-left;
}

%img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

%img-full-width {
  width: 100%;
}

%img-circle {
  @include border-radius(50%);
}

%img-rounded {
  @include border-radius();
}
