// LIST PLACEHOLDER
%reset-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

%list-position-inside {
  list-style-position: inside;
}

%list-position-outside {
  list-style-position: outside;
}

%list-type-circle {
  list-style-type: circle;
}

%list-type-disc {
  list-style-type: disc;
}

%list-type-square {
  list-style-type: square;
}

%list-type-none {
  list-style-type: none;
}
