// MARGIN PLACEHOLDER
%m-0-auto {margin: $m0 auto;}
%m-a-auto {margin: auto;}
%m-x-auto {margin-right: auto; margin-left: auto;}
%m-a-0 {margin: $m0;}
%m-t-0 {margin-top: $m0;}
%m-r-0 {margin-right: $m0;}
%m-b-0 {margin-bottom: $m0;}
%m-l-0 {margin-left: $m0;}
%m-x-0 {margin-right: $m0; margin-left: $m0;}
%m-y-0 {margin-top: $m0; margin-bottom: $m0;}

%m-1-auto {margin: $m1 auto;}
%m-a-1 {margin: $m1;}
%m-t-1 {margin-top: $m1;}
%m-r-1 {margin-right: $m1;}
%m-b-1 {margin-bottom: $m1;}
%m-l-1 {margin-left: $m1;}
%m-x-1 {margin-right: $m1; margin-left: $m1;}
%m-y-1 {margin-top: $m1; margin-bottom: $m1;}

%m-2-auto {margin: $m2 auto;}
%m-a-2 {margin: $m2;}
%m-t-2 {margin-top: $m2;}
%m-r-2 {margin-right: $m2;}
%m-b-2 {margin-bottom: $m2;}
%m-l-2 {margin-left: $m2;}
%m-x-2 {margin-right: $m2; margin-left: $m2;}
%m-y-2 {margin-top: $m2; margin-bottom: $m2;}

%m-3-auto {margin: $m3 auto;}
%m-a-3 {margin: $m3;}
%m-t-3 {margin-top: $m3;}
%m-r-3 {margin-right: $m3;}
%m-b-3 {margin-bottom: $m3;}
%m-l-3 {margin-left: $m3;}
%m-x-3 {margin-right: $m3; margin-left: $m3;}
%m-y-3 {margin-top: $m3; margin-bottom: $m3;}
