// PADDING PLACEHOLDER
%p-a-0 {margin: $p0;}
%p-t-0 {margin-top: $p0;}
%p-r-0 {margin-right: $p0;}
%p-b-0 {margin-bottom: $p0;}
%p-l-0 {margin-left: $p0;}
%p-x-0 {margin-right: $p0; margin-left: $p0;}
%p-y-0 {margin-top: $p0; margin-bottom: $p0;}

%p-a-1 {margin: $p1;}
%p-t-1 {margin-top: $p1;}
%p-r-1 {margin-right: $p1;}
%p-b-1 {margin-bottom: $p1;}
%p-l-1 {margin-left: $p1;}
%p-x-1 {margin-right: $p1; margin-left: $p1;}
%p-y-1 {margin-top: $p1; margin-bottom: $p1;}

%p-a-2 {margin: $p2;}
%p-t-2 {margin-top: $p2;}
%p-r-2 {margin-right: $p2;}
%p-b-2 {margin-bottom: $p2;}
%p-l-2 {margin-left: $p2;}
%p-x-2 {margin-right: $p2; margin-left: $p2;}
%p-y-2 {margin-top: $p2; margin-bottom: $p2;}

%p-a-3 {margin: $p3;}
%p-t-3 {margin-top: $p3;}
%p-r-3 {margin-right: $p3;}
%p-b-3 {margin-bottom: $p3;}
%p-l-3 {margin-left: $p3;}
%p-x-3 {margin-right: $p3; margin-left: $p3;}
%p-y-3 {margin-top: $p3; margin-bottom: $p3;}
