// CSS3 PIE PLACEHOLDER
%pie {
  @if ($default-support-pie) {
    @if ($enable-pie-absolute-path) {
      behavior: url($pie-absolute-path);
    }
    position: relative;
    zoom: 1;
  }
}

%pie-ie9 {
  @extend %pie !optional;
  behavior: url($pie-path-ie9);
}

%pie-ie8 {
  @extend %pie !optional;
  behavior: url($pie-path-ie8);
}

%pie-ie7 {
  @extend %pie !optional;
  behavior: url($pie-path-ie7);
}

%pie-ie6 {
  @extend %pie !optional;
  behavior: url($pie-path-ie6);
}
