// TEXT OVERFLOW PLACEHOLDER
%t-ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
%t-clip {text-overflow: clip;}
%to-clip {text-overflow: clip;}
%to-ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
