// TEXT DECORATION PLACEHOLDER
%t-no-decoration {text-decoration: none;}
%t-underline {text-decoration: underline;}
%t-line-through {text-decoration: line-through;}
%t-overline {text-decoration: overline;}
%t-blink {text-decoration: blink;}
