/* ====================  TYPOGRAPHY  ==================== */
*,
*:before,
*:after {
  @include box-sizing(inherit);
}

@include selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
};

html {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

@include viewport(device-width);

body {
  background-color: #fff;
  color: #000;
  font: normal ($default-font-size * 1px)/#{$default-line-height} $default-font-family;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  @include font-smoothing(antialiased);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 10px;
}

h1 {
  font-size: $default-font-size-h1;
}

h2 {
  font-size: $default-font-size-h2;
}

h3 {
  font-size: $default-font-size-h3;
}

h4 {
  font-size: $default-font-size-h4;
}

h5 {
  font-size: $default-font-size-h5;
}

h6 {
  font-size: $default-font-size-h6;
}

p {
  margin: 0 0 10px;
}

a {
  color: $default-link-color;
  text-decoration: underline;
  &:link {}
  &:visited {}

  &:hover {
    color: $default-link-color-hover;
    text-decoration: none;
  }

  &:active {}
  &:focus {}
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ul,
ol {
  margin: 10px 0;
  padding-left: 20px;

  li {
    list-style-position: inside;
  }

  a {
    color: inherit;
  }
}

table {
  margin-bottom: 10px;
  max-width: 100%;
}

caption {
  caption-side: bottom;
  font-weight: bold;
  text-align: left;
}

th {
  text-align: left;
}
