/* ====================================================== */
/* ====================  TYPOGRAPHY  ==================== */
/* ====================================================== */
@include selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
}

@include viewport(device-width);

html {
  @include box-sizing(border-box);
}

*,
*:before,
*:after {
  @include box-sizing(inherit);
}

html,
body {
  height: 100%;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font: normal $base-font-size/#{$base-line-height} $base-font-family;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  @include font-smoothing(antialiased);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  margin-top: 0;
  margin-bottom: $base-margin;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:link {}

  &:visited {}

  &:hover {
    text-decoration: $link-hover-decoration;
  }

  &:active {}

  &:focus {}

  &[href^='http'],
  &[href^='www.'] {
    cursor: alias;
  }
}

img,
video,
object,
embed {
  max-width: 100%;
}

img,
video {
  height: auto;
  vertical-align: middle;
}

ul,
ol {
  margin: 0 0 $base-margin;
  padding-left: 20px;

  ul,
  ol {
    margin-bottom: 0;
  }

  li {
    list-style-position: inside;
  }

  a {
    color: inherit;
  }
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  @include touch-action(manipulation);
}

table {
  background-color: transparent;
}

caption {
  caption-side: bottom;
  font-weight: bold;
  text-align: left;
}

th,
td {
  text-align: left;
}

svg {
  @include transition(fill .2s ease-in);
}

/* ========================================================== */
/* ====================  END TYPOGRAPHY  ==================== */
/* ========================================================== */
