/* ===================================================== */
/* ====================  NORMALIZE  ==================== */
/* ===================================================== */
/* line 4, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* line 10, ../sass/base/_normalize.scss */
body {
  margin: 0;
}

/* line 14, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 29, ../sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 37, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 42, ../sass/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 47, ../sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/* line 51, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 56, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 60, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 65, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 69, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 74, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 79, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/* line 83, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/base/_normalize.scss */
sup {
  top: -.5em;
}

/* line 95, ../sass/base/_normalize.scss */
sub {
  bottom: -.25em;
}

/* line 99, ../sass/base/_normalize.scss */
img {
  border: 0;
}

/* line 103, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 107, ../sass/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 111, ../sass/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 116, ../sass/base/_normalize.scss */
pre {
  overflow: auto;
}

/* line 120, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 128, ../sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

/* line 139, ../sass/base/_normalize.scss */
button {
  overflow: visible;
}

/* line 143, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 148, ../sass/base/_normalize.scss */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
}

/* line 156, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 161, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 167, ../sass/base/_normalize.scss */
input {
  line-height: normal;
}

/* line 171, ../sass/base/_normalize.scss */
[type='checkbox'],
[type='radio'] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 177, ../sass/base/_normalize.scss */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/* line 182, ../sass/base/_normalize.scss */
[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 188, ../sass/base/_normalize.scss */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 193, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 200, ../sass/base/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 205, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 209, ../sass/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 213, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 218, ../sass/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 224, ../sass/base/_normalize.scss */
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 232, ../sass/base/_normalize.scss */
label {
  cursor: pointer;
}

/* line 236, ../sass/base/_normalize.scss */
:focus {
  outline: 0;
}

/* line 240, ../sass/base/_normalize.scss */
[type='text'],
[type='password'],
[type='email'],
[type='search'],
[type='number'],
[type='tel'],
[type='url'],
textarea {
  outline: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ========================================================= */
/* ====================  END NORMALIZE  ==================== */
/* ========================================================= */
/* ====================================================== */
/* =======================  CORE  ======================= */
/* ====================================================== */
/* line 11, ../sass/utilities/mixins/css3/_selection.scss */
::-moz-selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../sass/utilities/mixins/css3/_selection.scss */
::selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
}

/* line 10, ../sass/base/_core.scss */
html {
  font-size: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/base/_core.scss */
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 21, ../sass/base/_core.scss */
html,
body {
  height: 100%;
}

/* line 26, ../sass/base/_core.scss */
body {
  background-color: #fff;
  color: #000;
  font: normal 14px/1.42857 "Arial", sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 42, ../sass/base/_core.scss */
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 54, ../sass/base/_core.scss */
svg {
  -moz-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

/* ====================================================== */
/* ====================  TYPOGRAPHY  ==================== */
/* ====================================================== */
/* line 7, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 21, ../sass/base/_typography.scss */
h1 {
  font-size: 36px;
}

/* line 25, ../sass/base/_typography.scss */
h2 {
  font-size: 30px;
}

/* line 29, ../sass/base/_typography.scss */
h3 {
  font-size: 24px;
}

/* line 33, ../sass/base/_typography.scss */
h4 {
  font-size: 18px;
}

/* line 37, ../sass/base/_typography.scss */
h5 {
  font-size: 14px;
}

/* line 41, ../sass/base/_typography.scss */
h6 {
  font-size: 12px;
}

/* line 47, ../sass/base/_typography.scss */
p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 54, ../sass/base/_typography.scss */
a {
  color: inherit;
  text-decoration: underline;
}
/* line 62, ../sass/base/_typography.scss */
a:hover {
  text-decoration: none;
}
/* line 70, ../sass/base/_typography.scss */
a[href^='http'], a[href^='www.'] {
  cursor: alias;
}

/* line 76, ../sass/base/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 81, ../sass/base/_typography.scss */
i,
em {
  font-style: italic;
}

/* line 86, ../sass/base/_typography.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border-left: 5px solid #eee;
}

/* line 92, ../sass/base/_typography.scss */
abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted #999;
}

/* line 98, ../sass/base/_typography.scss */
address {
  margin: 0 0 10px;
  font-style: italic;
}

/* line 105, ../sass/base/_typography.scss */
ul,
ol {
  margin: 0 0 10px;
  padding-left: 20px;
}
/* line 110, ../sass/base/_typography.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}
/* line 115, ../sass/base/_typography.scss */
ul li,
ol li {
  list-style-position: inside;
}
/* line 119, ../sass/base/_typography.scss */
ul a,
ol a {
  color: inherit;
}

/* line 124, ../sass/base/_typography.scss */
dl {
  margin: 0 0 10px;
}

/* line 128, ../sass/base/_typography.scss */
dt {
  font-weight: bold;
}

/* line 132, ../sass/base/_typography.scss */
dd {
  margin-left: 10px;
}

/* line 138, ../sass/base/_typography.scss */
table {
  max-width: 100%;
  background-color: transparent;
  margin-bottom: 10px;
}

/* line 144, ../sass/base/_typography.scss */
caption {
  caption-side: bottom;
  font-weight: bold;
  text-align: left;
}

/* line 150, ../sass/base/_typography.scss */
th {
  font-weight: bold;
}

/* line 154, ../sass/base/_typography.scss */
th,
td {
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

/* line 169, ../sass/base/_typography.scss */
img,
video,
object,
embed {
  max-width: 100%;
}

/* line 176, ../sass/base/_typography.scss */
img,
video {
  height: auto;
  vertical-align: middle;
}

/* ========================================================== */
/* ====================  END TYPOGRAPHY  ==================== */
/* ========================================================== */
/* ================================================= */
/* ====================  FORMS  ==================== */
/* ================================================= */
/* line 4, ../sass/layout/_forms.scss */
form {
  max-width: 100%;
  margin-bottom: 10px;
  position: relative;
}

/* line 16, ../sass/layout/_forms.scss */
select,
textarea,
[type='text'],
[type='tel'],
[type='url'],
[type='email'],
[type='search'],
[type='number'],
[type='password'] {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 10px;
}

/* line 40, ../sass/layout/_forms.scss */
[type="radio"]:disabled, [type="radio"].disabled,
[type="checkbox"]:disabled,
[type="checkbox"].disabled {
  cursor: not-allowed;
}

/* line 21, ../sass/utilities/mixins/css3/_placeholder.scss */
:-moz-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

/* line 21, ../sass/utilities/mixins/css3/_placeholder.scss */
::-moz-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

/* line 21, ../sass/utilities/mixins/css3/_placeholder.scss */
:-ms-input-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

/* line 21, ../sass/utilities/mixins/css3/_placeholder.scss */
::-webkit-input-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

/* line 93, ../sass/layout/_forms.scss */
textarea {
  min-height: 100px;
  resize: vertical;
}

/* ===================================================== */
/* ====================  END FORMS  ==================== */
/* ===================================================== */
/* ================================================= */
/* ====================  STATE  ==================== */
/* ================================================= */
/* line 17, ../sass/state/_state.scss */
.is-visible {
  display: block;
}

/* line 21, ../sass/state/_state.scss */
.is-hidden {
  display: none;
}

/* ===================================================== */
/* ====================  END STATE  ==================== */
/* ===================================================== */

/*# sourceMappingURL=main.css.map */
