/* ====================  NORMALIZE 7  ====================== */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template,
[hidden] {
  display: none;
}

/* ====================  END NORMALIZE 7  ==================== */
/* ====================  CUSTOM NORMALIZE  ====================== */
:focus {
  outline-width: 0;
}

label {
  cursor: pointer;
}

[type="text"],
[type="password"],
[type="email"],
[type="search"],
[type="number"],
[type="tel"],
[type="url"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* ====================  END CUSTOM NORMALIZE  ==================== */
/* ====================  CORE  ======================= */
::-moz-selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: #338fff;
  color: #fff;
  text-shadow: none;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  background-color: #fff;
  font: normal 14px / 1.42857 "Arial", "Helvetica", sans-serif;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

svg {
  -moz-transition: fill 0.3s ease-out;
  -o-transition: fill 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}

/* ====================  END CORE  ======================= */
/* ====================  TYPOGRAPHY  ==================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 11px;
}

@media (min-width: 480px) and (max-width: 1279px) {
  h1 {
    font-size: 30px;
    font-size: calc(0.015 * 100vw + 16.8px);
  }
  h2 {
    font-size: 25px;
    font-size: calc(0.0125 * 100vw + 14px);
  }
  h3 {
    font-size: 20px;
    font-size: calc(0.01 * 100vw + 11.2px);
  }
  h4 {
    font-size: 15px;
    font-size: calc(0.005 * 100vw + 11.6px);
  }
  h5 {
    font-size: 12px;
    font-size: calc(0.00125 * 100vw + 12.4px);
  }
  h6 {
    font-size: 10px;
    font-size: calc(0.00125 * 100vw + 10.4px);
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:empty::before {
  content: attr(href);
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 15px;
  border-left: 5px solid #eee;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted #999;
}

address {
  margin: 0 0 15px;
  font-style: normal;
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid #808080;
}

ul,
ol {
  margin: 0 0 15px;
  padding-left: 25px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

ul li,
ol li {
  list-style-position: outside;
}

ul a,
ol a {
  color: inherit;
}

dl {
  margin: 0 0 15px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 15px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  margin-bottom: 15px;
}

caption {
  caption-side: top;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-bottom: 0;
  font-size: 130%;
}

th {
  font-weight: bold;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
}

img,
video,
object,
embed {
  max-width: 100%;
}

img,
video {
  height: auto;
  vertical-align: middle;
}

img {
  text-align: center;
}

img::after {
  display: block;
  content: "(url: " attr(src) ")";
  padding: 2px 5px;
  background-color: #eee;
  text-align: center;
  font-size: 12px;
  min-width: 100px;
  white-space: pre-line;
  word-break: break-all;
}

/* ====================  END TYPOGRAPHY  ==================== */
.container::after {
  clear: both;
  content: " ";
  display: table;
}

@supports (display: flow-root) {
}

/* ====================  HEADER  ==================== */
/* ====================  END HEADER  ==================== */
/* ====================  NAV  ==================== */
/* ====================  END NAV  ==================== */
/* ====================  MAIN  ==================== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.video-responsive {
  position: relative;
  padding-top: 10px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ====================  END MAIN  ==================== */
/* ====================  SIDEBAR  ==================== */
/* ====================  END SIDEBAR  ==================== */
/* ====================  FOOTER  ==================== */
/* ====================  END FOOTER  ==================== */
/* ====================  FORMS  ==================== */
form {
  max-width: 100%;
  margin-bottom: 15px;
  position: relative;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 0 15px;
  padding: .35em .75em .625em;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

:-moz-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

::-webkit-input-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}

select,
textarea,
[type="text"],
[type="file"],
[type="password"],
[type="email"],
[type="search"],
[type="number"],
[type="tel"],
[type="url"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime"],
[type="datetime-local"] {
  font: inherit;
  width: 100%;
  border: 1px solid #808080;
  padding: 8px 10px;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
}

input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

input::-webkit-file-upload-button {
  padding: 0 5px;
  border: 0;
  outline: 1px solid #808080;
}

input::-webkit-inner-spin-button {
  height: auto;
}

[type="radio"]:disabled, [type="radio"].disabled,
[type="checkbox"]:disabled,
[type="checkbox"].disabled {
  cursor: not-allowed;
}

[type="range"] {
  width: 100%;
  padding: 7px 0;
}

[type="color"] {
  max-width: 45px;
  padding: 3px;
  border: 1px solid #808080;
  background-color: transparent;
}

[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type="color"]::-webkit-color-swatch {
  border: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: 1px solid #808080;
  background-color: transparent;
  padding: 8px 10px;
}

textarea {
  min-height: 100px;
  max-height: 400px;
  resize: vertical;
}

optgroup {
  font-style: normal;
}

.form-row {
  margin-bottom: 15px;
}

.form-field {
  font: inherit;
  width: 100%;
  border: 1px solid #808080;
  padding: 8px 10px;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
}

.form-field::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

.form-field::-webkit-file-upload-button {
  padding: 0 5px;
  border: 0;
  outline: 1px solid #808080;
  background-color: #fff;
}

.form-field::-webkit-inner-spin-button {
  height: auto;
}

.form-field:disabled, .form-field.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.jq-select-multiple, .jq-selectbox, .jq-number, .jq-file {
  width: 100%;
}

.jq-number__field {
  width: auto;
}

/* ====================  END FORMS  ==================== */
/* ====================  SPRITES  ==================== */
/* ====================  END SPRITES  ==================== */
/* ====================  BUTTONS  ==================== */
.btn-block {
  display: block;
  width: 100%;
}

.btn-left {
  text-align: left;
}

.btn-center {
  text-align: center;
}

.btn-right {
  text-align: right;
}

.btn-pull-left {
  float: left;
}

.btn-pull-right {
  float: right;
}

/* ====================  END BUTTONS  ==================== */
/* ====================  TABS  ==================== */
.fk-tabs-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.fk-tabs-menu-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  font: bold 14px/1.2 "Arial", sans-serif;
  background-color: #6f6f6f;
  color: #fff;
  text-decoration: none;
}

.fk-tabs-menu-active {
  background-color: #555;
}

.fk-item {
  display: none;
}

.fk-item-active {
  display: block;
}

/* ====================  END TABS  ==================== */
/* ====================  ACCORDION  ==================== */
.fk-accordion {
  border-bottom: 12px solid #e9e9e9;
  line-height: 1.2;
  margin-bottom: 15px;
  max-width: 100%;
}

.fk-accordion.js-opened {
  border-bottom: 0;
}

.fk-accordion.js-opened .fk-accordion-content {
  display: block;
}

.fk-accordion.js-opened .fk-accordion-switch {
  background-color: #6bc15f;
}

.fk-accordion.js-opened .fk-accordion-switch::after {
  border: 5px solid transparent;
  border-top: 8px solid #fff;
  bottom: 0;
  margin-top: -4px;
}

.fk-accordion-header {
  background-color: #f5f5f5;
  min-height: 79px;
  overflow: hidden;
  padding: 15px 15px 15px 45px;
  position: relative;
}

.fk-accordion-title {
  color: #6bc15f;
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.fk-accordion-desc {
  color: #055555;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
  max-width: 570px;
}

.fk-accordion-switch {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.22) inset;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.22) inset;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.22) inset;
  background-color: #ccc;
  cursor: pointer;
  display: block;
  height: 52px;
  left: -26px;
  margin-top: -26px;
  position: absolute;
  top: 50%;
  width: 52px;
}

.fk-accordion-switch::after {
  border: 5px solid transparent;
  border-left: 8px solid #fff;
  border-right: 0;
  content: "";
  display: block;
  height: 0;
  margin-top: -5px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
}

.fk-accordion-content {
  background-color: #e9e9e9;
  display: none;
  padding: 15px;
}

/* ====================  END ACCORDION  ==================== */
/* ====================  BREADCRUMBS  ==================== */
.breadcrumbs li, .breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs a, .breadcrumbs-link {
  text-decoration: underline;
}

.breadcrumbs a:hover, .breadcrumbs-link:hover {
  text-decoration: none;
}

/* ====================  END BREADCRUMBS  ==================== */
/* ====================  PAGINATION  ==================== */
.pagination li, .pagination-item {
  display: inline-block;
}

.pagination a, .pagination-link {
  text-decoration: underline;
}

.pagination a:hover, .pagination-link:hover {
  text-decoration: none;
}

/* ==================  END PAGINATION  ================== */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-small-caps {
  font-variant: small-caps;
}

.text-underline {
  text-decoration: underline;
}

.text-overline {
  text-decoration: overline;
}

.text-line-through {
  text-decoration: line-through;
}

.image-left, .image-right, .image-center {
  margin-bottom: 20px;
}

.image-left {
  float: left;
  margin: 0 20px 20px 0;
}

.image-right {
  float: right;
  margin: 0 0 20px 20px;
}

.image-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ====================  HOME PAGE  ====================== */
/* ====================  END HOME PAGE  ==================== */
/* ====================  CATEGORY PAGE  ==================== */
/* ====================  END CATEGORY PAGE  ================== */
/* ====================  PRODUCT PAGE  ==================== */
/* ====================  END PRODUCT PAGE  ================== */
/* ====================  REVIEW PAGE  ===================== */
/* ====================  END REVIEW PAGE  =================== */
/* ====================  BLOG PAGE  ====================== */
/* ====================  END BLOG PAGE  ==================== */
/* ====================  CART PAGE  ====================== */
/* ====================  END CART PAGE  ==================== */
/* ====================  CHECKOUT PAGE  ==================== */
/* ====================  END CHECKOUT PAGE  ================== */
/* ====================  CONTACT PAGE  ==================== */
/* ====================  END CONTACT PAGE  ================== */
/* ====================  STATE  ======================== */
.is-visible {
  visibility: visible;
}

.is-hidden {
  visibility: hidden;
}

.is-show {
  display: block;
}

.is-hide {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus), .visually-hidden:not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden.focusable:focus, .visually-hidden.focusable:active {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  white-space: inherit;
  clip-path: none;
  clip: auto;
  overflow: visible;
}

/* ====================  END STATE  ====================== */
/* ====================  RESPONSIVE  ===================== */
/* ====================  END RESPONSIVE  =================== */
