/* ====================  MAIN  ==================== */
.container {
  @extend %clearfix;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.main { }

.video-responsive {
  position: relative;
  padding-top: $base-padding;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* ====================  END MAIN  ==================== */
