/* ====================  IMAGE  ==================== */
.img {
  &-left {
    float: left;
    margin-right: 10px;
  }

  &-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-right {
    float: right;
    margin-left: 10px;
  }

  &-left,
  &-center,
  &-right {
    margin-bottom: 10px;
  }

  &-responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }

  &-full-width {
    width: 100%;
  }

  &-circle {
    @include border-radius(50%);
  }

  &-rounded {
    @include border-radius($img-rounded-radius);
  }
}
