//- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
<!--[if (lt IE 9)&(!IEMobile)]>
if cdn
  script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
else
  script(src='js/ie8.min.js')
<![endif]-->